<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HTML5-kurssi</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)

</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Etusivu", "Index", "Home")</li>
                    <li>@Html.ActionLink("Palstat", "Palstat", "Home")</li>
                    <li>@Html.ActionLink("Lomakkeen tarkistus", "Lomake", "Home")</li>
                    <li>@Html.ActionLink("DOM scriptaus", "DOM", "Home")</li>
                    <li>@Html.ActionLink("Event-Trad", "EventTrad", "Home")</li>
                    <li>@Html.ActionLink("Event-Mod", "EventMod", "Home")</li>
                    <li>@Html.ActionLink("jQuery", "JQuery", "Home")</li>
                    <li>@Html.ActionLink("Geo-jQuery", "Geo", "Home")</li>
                    <li>@Html.ActionLink("Geo-Google", "GeoGoogleUusi", "Home")</li>
                    @*<li>@Html.ActionLink("Geo-Google", "GeoGoogle", "Home")</li>
                    <li>@Html.ActionLink("Geo-W3Sc", "GeoW3Sc", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p id="footer">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
